[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
aiohttp = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-mock = "*"
freezegun = "*"
asynctest = "*"

[requires]
python_version = "3.6"
